{% extends "schedule/base.html" %}
{% block content %}
 {% for task in tasks %}
  {% if task.task_type == 'static' %}
  
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">Priority Level: {{ task.priority_level }}</a>
          <small class="text-muted">Start time: {{ task.start_time_hour }}:{{task.start_time_min}} {{task.start_time_mode}}
          </small>
          <small>------ </small>
          <small class="text-muted">End time: {{ task.end_time_hour }}:{{task.end_time_min}} {{task.end_time_mode}}</small>
          
          <h2><a class="article-title" href="{% url 'schedule-detail' task.id %}">{{ task.title }}</a></h2>
          <p class="article-content">{{ task.content }}</p>

      </div>
    </article>
  {% else %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">Priority Level: {{ task.priority_level }}</a>
            
            <h2><a class="article-title" href="{% url 'schedule-detail' task.id %}">{{ task.title }}</a></h2>
            <p class="article-content">{{ task.content }}</p>
    
        </div>
    </article>
  {% endif %}
    
  
 {% endfor %}
{% endblock content %}


